doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		include templates/structure/header-inner
		main
			section#about
				div.container
					div.row
						div.col-md-4.aside
							div.main-info
								div.ava-wrap
									a(href="/")
										img(src="img/ava.jpg")
								h1 
									span Александр
									|Цимбалюк								
								h3.artic
									|Front-end developer

							div.skill-block
								h4.artic О себе
								p С тех пор как впервые увидел на экране "Hello world!" понял, что это то чему хочу посвятить всего себя! С тех пор утекло немало строчек кода. Сейчас я работаю front-end азработчиком. Занимаюсь всем от Landing page до eCommerce проектов.
							div.skill-block
								h4 Личные качества
								ul
									li Целеустремленность
									li Настоичивостъ
									li Ответственность
									li Коммуникабельность
									li Умение работать в команде
									li Внимательность к деталям
							div.skill-block
								h4 В соц. сетях
								ul.soc-block
									-
										var social = {
											1:'fa fa-pinterest',
											2:'fa fa-linkedin',
											3:'fa fa-vk',
											4:'fa fa-github',
											5:'fa fa-codepen'
										};		
									each val, index in social
										li
											a(href="#" target="_blank")
												i(class=val)
												=val
						div.col-md-8.body-about
							div.resume-block
								h4
									i.fa.fa-suitcase
									|Опыт работы
								-
									var experiences = [
										{
											company: 'JayaDigital',
											position: 'Front-end developer',
											timeStart: 'декабрь 2016г.',
											timeEnd: 'настоящее время',
											description: 'Создание сайтов под ключ: Верстка новых страниц из PSD макетов, верстка писем	Адаптация новых и готовых страниц под мобильные устройства Реализация JavaScript логики (слайдеры, попапы, анимации, AJAX и т.д.)	посадка на CMF Modx посадка cms Wordpress'
										},{
											company: 'Adloud',
											position: 'Front-end developer',
											timeStart: 'май 2015г.',
											timeEnd: 'декабрь 2016г.',
											description: 'Создание сайтов под ключ: Верстка новых страниц из PSD макетов, верстка писем	Адаптация новых и готовых страниц под мобильные устройства Реализация JavaScript логики (слайдеры, попапы, анимации, AJAX и т.д.)	посадка на CMF Modx посадка cms Wordpress'
										},{
											company: 'Freelance',
											position: 'Web developer',
											timeStart: 'ноябрь 2014г.',
											timeEnd: 'настоящее время',
											description: 'Верстка новых страниц из PSD макетов, Создание Landing page, доработка и правка существующих сайтов, адаптация под мобильные устройства'
										},{
											company: 'ООО"Грин Медоу"',
											position: 'Менеджер Логист',
											timeStart: 'март 2011г.',
											timeEnd: 'ноябрь 2014г.',
											description: 'Поиск клиентов и поддержка существующих, организация логистики. Поиск клиентов и поддержка существующих.'
										}
									]
								for work in experiences
									div.resume-item
										h5.company= work.company
										h6.position= work.position
										br
										div.time
											span= work.timeStart
											span= work.timeEnd
										div.descr= work.description

							div.resume-block
								h4
									i.fa.fa-folder-open
									|Примеры работ
								div.resume-item.portfol
									div.page-item
										h6 Ykarservis.com.ua
										a(href="#" target="_blank" rel="nofollow") http//ykarservis.com.ua
									div.page-item
										h6 Ykarservis.com.ua
										a(href="#" target="_blank" rel="nofollow") http//ykarservis.com.ua
								div.resume-item.portfol
									div.page-item
										h6 Ykarservis.com.ua
										a(href="#" target="_blank" rel="nofollow") http//ykarservis.com.ua
									div.page-item
										h6 Ykarservis.com.ua
										a(href="#" target="_blank" rel="nofollow") http//ykarservis.com.ua
								div.resume-item.portfol
									div.page-item
										h6 Ykarservis.com.ua
										a(href="#" target="_blank" rel="nofollow") http//ykarservis.com.ua
									div.page-item
										h6 Ykarservis.com.ua
										a(href="#" target="_blank" rel="nofollow") http//ykarservis.com.ua


							div.resume-block
								h4
									i.fa.fa-pie-chart
									|Профессиональные навыки
								div.resume-item.skill-block
									div.skill-item
										h5 HTML
										p.progres
											span(data-progres="100")
									div.skill-item
										h5 Jade
										p.progres
											span(data-progres="90")
									div.skill-item
										h5 CSS
										p.progres
											span(data-progres="100")
									div.skill-item
										h5 SASS
										p.progres
											span(data-progres="100")
												
								div.resume-item.skill-block
									div.skill-item
										h5 JavaScript
										p.progres
											span(data-progres="80")
									div.skill-item
										h5 jQuery
										p.progres
											span(data-progres="80")
									div.skill-item
										h5 Angular
										p.progres
											span(data-progres="65")
									div.skill-item
										h5 Gulp
										p.progres
											span(data-progres="70")

								div.resume-item.skill-block
									div.skill-item
										h5 Modx
										p.progres
											span(data-progres="80")
									div.skill-item
										h5 WordPress
										p.progres
											span(data-progres="55")
									div.skill-item
										h5 Git
										p.progres
											span(data-progres="50")
									div.skill-item
										h5 Photoshop
										p.progres
											span(data-progres="40")

							div.resume-block
								h4
									i.fa.fa-graduation-cap
									|Образование
								div.resume-item
									h5.company Геоинформационные системы
									h6.position 
										a(href="http://kitz.nau.edu.ua/" target="_blank" rel="nofollow") КИТЗ при НАУ
									br
									div.time
										span 2006г.
										span 2011г.
									div.descr Окончил в 2011 году Колледж информационных технологий и землеустройства Национального авиационного университета и получил базовое высшее образование по направлению подготовки "Геодезия картография и землеустройство" и получил квалификацию бакалавра по геодезии, картографии и землеустройству.
				div.container
					div.row
						div.col-md-12.footer-about
							div.container-fluid
								div.row
									div.col-md-3.col-sm-6
										h4.artic Контактная информация		
									div.col-md-3.col-sm-6
										p
											i.fa.fa-phone
											a(href="tel:+380969391478") +380969391478
									div.col-md-3.col-sm-6
										p
											i.fa.fa-envelope
											a(href="mailto:tsumbaluk888@gmail.com") tsumbaluk888@gmail.com
											br
											a(href="http://tsumbaluk.in.ua/") http://tsumbaluk.in.ua
									div.col-md-3.col-sm-6
										p
											i.fa.fa-map-marker
											| Украина
											br
											|Киев



		//- include templates/structure/footer	
		include templates/structure/scripts